NEXT_PUBLIC_API_BASE_URL=/api
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=__set_in_local_env__
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID=__optional_google_map_id__
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=__set_in_local_env__

NEXT_PUBLIC_DEFAULT_LOCALE=en
NEXT_PUBLIC_SUPPORTED_LOCALES=en,ar
NEXT_PUBLIC_SUPPORTED_CURRENCIES=AED,USD,SAR,EUR,GBP
